#cap1
adt/cap1/bin/
adt/cap1/.classpath
adt/cap1/.project
adt/cap1/gen/
adt/cap1/.settings/org.eclipse.jdt.core.prefs
cap1/.idea/

#cap2
adt/cap2/bin/
adt/cap2/.classpath
adt/cap2/.project
adt/cap2/gen/
.DS_Store
adt/.DS_Store
adt/cap2/.DS_Store
adt/cap2/res/.DS_Store

#cap3
adt/cap3/bin/
adt/cap3/.classpath
adt/cap3/.project
adt/cap3/gen/
.DS_Store
adt/.DS_Store
adt/cap3/.DS_Store
adt/cap3/res/.DS_Store

#test-repo
test/
